<div class="flex justify-center items-center h-full">
  <div class="relative w-32 h-32">
    <svg class="absolute inset-0 w-full h-full" viewBox="0 0 36 36">
      <path
        class="text-white"
        d="M18 1.5
            a 16.5 16.5 0 0 1 0 33
            a 16.5 16.5 0 0 1 0 -33"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
      />
      <path
        class="text-primary"
        [attr.stroke-dasharray]="dashArray"
        d="M18 1.5
            a 16.5 16.5 0 0 1 0 33
            a 16.5 16.5 0 0 1 0 -33"
        fill="none"
        stroke="currentColor"
        stroke-width="3.2"
        stroke-linecap="round"
        [style.transition]="'stroke-dasharray 1s ease-in-out'"
        transform="rotate(-90 18 18)"
      />
    </svg>
    <div
      class="absolute inset-0 flex items-center justify-center text-white text-xl"
    >
      {{ percent }}%
    </div>
  </div>
</div>
