@if (show) {
  <div class="bg-primary min-h-screen w-screen overflow-x-hidden">
    <div class="sticky top-0">
      <app-navbar></app-navbar>
    </div>
    <div
      *ngIf="projects$ | async as projects"
      class="bg-primary flex flex-col justify-center items-center"
    >
      <div class="w-full px-4 sm:px-8">
        <h1 class="text-4xl text-white font-bangers mb-8 mt-12 text-left">
          {{ 'projects.heading' | translate }}
        </h1>
        <div
          *ngFor="let project of projects"
          class="flex flex-col md:flex-row w-full rounded-[20px] shadow-custom-project mb-8 p-6 sm:p-10"
        >
          <div class="md:w-1/3 md:mr-8">
            <img
              [src]="project.image"
              alt="{{ project.title }}"
              class="rounded-md h-auto mx-auto md:ml-0 md:mr-0"
              loading="lazy"
            />
          </div>
          <div class="md:w-2/3 md:ml-8 mt-4 md:mt-0">
            <h2 class="text-xl md:text-2xl font-bold mt-4 mb-4 text-white">
              {{ project.title }}
            </h2>
            <p
              class="text-base md:text-xl font-sans text-white text-justify mb-4"
            >
              {{ project.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div
    class="flex justify-center items-center h-screen w-screen overflow-hidden bg-primary"
  >
    <img
      class="animate-runaccross"
      src="assets/images/spaceship.svg"
      alt="Error loading image"
      loading="lazy"
    />
  </div>
}
