@if (show) {
  <div
    class="bg-primary flex flex-col md:flex-row min-h-screen justify-center items-center p-4 md:p-16 custom-scrollbar"
  >
    <div
      class="w-full md:w-1/2 flex justify-center md:justify-end items-center"
    >
      <img
        class="h-64 md:h-500 sm:h-52 sm:mb-12"
        src="assets/images/home.svg"
        alt="Image Unavailable"
        loading="lazy"
      />
    </div>
    <div
      class="w-full md:w-1/2 h-full flex justify-center items-center flex-col mt-8 md:mt-0"
    >
      <app-button
        text="{{ 'home.buttons.about' | translate }}"
        [link]="'home.buttons.aboutLink' | translate"
      ></app-button>
      <app-button
        text="{{ 'home.buttons.work' | translate }}"
        [link]="'home.buttons.workLink' | translate"
      ></app-button>
      <app-button
        text="{{ 'home.buttons.contact' | translate }}"
        [link]="'home.buttons.contactLink' | translate"
      ></app-button>
    </div>
  </div>
} @else {
  <div
    class="flex justify-center items-center h-screen w-screen overflow-hidden bg-primary"
  >
    <img
      class="animate-runaccrossLeft"
      src="assets/images/spaceship-left.svg"
      alt="Error loading image"
      loading="lazy"
    />
  </div>
}
